- if @posts
	%ul
	- @posts.each do |post|
		%li
			= image_tag post.image.url(:medium)
			= link_to post.title, post
			%p #{pluralize(post.comments.count, "Comment")}

			%p= pluralize(post.get_upvotes.size, "Like")
			%p= pluralize(post.get_downvotes.size, "Dislike")

%p
= link_to "Add Post", new_post_path