.row.post-single
	.row
		.columns.small-12.post-single-image-container
			= image_tag @post.image.url()

	.row
		.columns.small-4
			.post-stats.clearfix
				.columns.small-4 
					%i.fa.fa-comments
					#{@post.comments.count}
				.columns.small-4 
					%i.fa.fa-thumbs-up
					#{@post.get_upvotes.size}
				.columns.small-4 
					%i.fa.fa-thumbs-down
					#{@post.get_downvotes.size}

		.columns.small-2.offset-6
			.post-stats.clearfix
				-if current_user && @post.user_id.equal?(current_user.id)
					.columns.small-6
						= link_to(edit_post_path(@post)) do
							%i.fa.fa-pencil
						
					.columns.small-6
						= link_to(post_path(@post), method: :delete) do
							%i.fa.fa-times
					
				- else
					.columns.small-6
						= link_to(like_post_path(@post)) do
							%i.fa.fa-thumbs-up
						
					.columns.small-6
						= link_to(dislike_post_path(@post)) do
							%i.fa.fa-thumbs-down
	
	.post-single-header
		%h1= @post.title
		%p Posted By #{@post.user.first_name} #{@post.user.last_name}
	
	.post-single-content
		%p.post-single-content-link
			%a= @post.link
		
		%div= @post.description
	
	
	#comments
		- if user_signed_in?
			= render 'comments/form'

		%h4.comment_count= pluralize(@post.comments.count, "Comment")
		- @comments.each do |comment|
			.comment
				.comment-user #{comment.user.first_name} #{comment.user.last_name} said...
				%p.comment-content= comment.content
