!!!
%html
%head
	%title Chitraloy
	%meta{:name => "viewport", :content=>"width=device-width, initial-scale=1.0"}

	= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	
	= javascript_include_tag "vendor/modernizr"
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	
	= csrf_meta_tags

%body
	.off-canvas-wrap{"data-offcanvas" => ""}
		.inner-wrap
			%nav.tab-bar
				%section.left-small
					%a.left-off-canvas-toggle.menu-icon{:href => "#"}
						%span
				
				%section.middle.tab-bar-section
					%h1.title= link_to "Chitraloy", root_path

			= render 'layouts/navigation'
			
			%section.main-section
				.row
					-if notice
						.notice.alert-box.radius= notice
					-if alert
						.alert.alert-box.radius= alert
				
				.full-width
					= yield
				
			%a.exit-off-canvas